{% extends "base_generic.html" %}

{% block content %}
      <h1>Title: {{book.Title}} </h1>
      <p><strong>Author:</strong> <a href="">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
      <p><strong>Summary:</strong> {{ book.summary }}</p>
      <p><strong>ISBN:</strong> {{ book.isbn }}</p> 
      <p><strong>Language:</strong> {{ book.language }}</p>  
      <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  
    
    <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>
    
    
        {% for copy in book.bookinstance_set.all %}
        
        <hr>
        
        <!--
        The one interesting thing we haven't seen before is the function book.bookinstance_set.all(). 
        
        This method is "automagically" constructed by Django in order to return the set of BookInstance records associated with a particular Book.
        
        The name of the function is constructed by lower-casing the model name where the ForeignKey was declared, followed by _set
        -->
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
        <p><strong>Imprint:</strong> {{copy.imprint}}</p>
        <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
        {% endfor %}
    
    </div>

{% endblock %}